#output {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	gap: 10px;
	color: black;
}

.page {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 80%;
	height: 70vh;
	box-shadow: 5px 5px grey;
}

.personal {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	padding: 15px;
	text-align: center;
	background-color: #2a9d8f;
	color: white;
}

.education {
	flex: 2;
	padding: 15px;
}

.work {
	flex: 2;
	padding: 15px;
}

.cv-heading {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 5px;
}

.cv-item {
	margin-top: 10px;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.controls {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

hr {
	border: 1px solid #2a9d8f;
}
