* {
	margin: 0px;
}

#app {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0px;
	font-family: sans-serif;
	justify-content: stretch;
	color: #279083;
}

header {
	background-color: #2a9d8f;
	color: white;
	padding: 15px;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 25px;
	flex: 1;
	margin: 15px;
}

main > div {
	flex: 1;
	min-width: 500px;
}

footer {
	margin-top: auto;
	background-color: #2a9d8f;
	color: white;
}

.section {
	border: 1px solid #2a9d8f;
	border-radius: 15px;
	min-width: 30%;
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 15px;
}

.controls {
	margin: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
